@import url("https://fonts.googleapis.com/css?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;600;700;900&display=swap");

body {
  margin: 0;
  font-family: Roboto, 'Arial,Helvetica,sans-serif';
  overflow-x: hidden;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
}


